/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"');

.container-login {
  width: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -228px;
  padding: 30px;

  border: outset;
}

.mat-form-field {
  width: 357px;
}

.key_row {
  margin-left: 5px;
  margin-right: 5px;
}

.account_circle {
  margin-right: 5px;
}

.login {
  margin: auto;
  width: 88px;
  align-items: center;
  align-content: center;
  child-align: middle;
}

.container-vote {
  position: fixed;
  top: 50%;
  left: 50%;

  margin-left: -288px;
  margin-top: -200px;
}

md-radio-group {
  display: flex;
  flex-direction: column;
}

md-radio-button {
  margin: 10px;
}

.vote-paper {
  border: outset;
  width: 500px;
  padding: 30px;
  margin-bottom: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.vote-actions {
  text-align: right;
  padding-right: 30px;
}
